/* --- General styles --- */

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: monospace;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to left, #ff80ff, #330033);
}

/* --- Calculator content --- */
/* --- Calculator itself --- */

.container-cal {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calcu-latr {
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(4, 75px);
  border: 4px black;
  border-radius: 15.5px;
  box-shadow: 3.5px 7px black;
  background: linear-gradient(to left, #330033, #cc00cc);
}

/* --- Input Block --- */

input {
  grid-column: span 4;
  height: 80px;
  width: 298.98px;
  box-shadow: inset -4px -4px 10px #fff, inset 4px 4px 10px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  border: none;
  text-align: end;
  margin: 30px 0px 15px 0px;
  padding: 10px;
  font-size: 45px;
}

/* --- Buttons, including Clear and Delete --- */

button {
  box-shadow: 2.5px 5px black;
  border-radius: 12px;
  border: none;
  margin: 5px;
  width: 69px;
  height: 40px;
}

button:hover {
  color: #cc00cc;
}

.equal {
  box-shadow: 2.5px 5px black;
  border-radius: 12px;
  border: none;
  margin: 5px;
  width: 146px;
  height: 40px;
  grid-column: span 2;
}

.clearall {
  box-shadow: 2.5px 5px black;
  border-radius: 12px;
  border: none;
  margin: 5px;
  width: 146px;
  height: 40px;
  grid-column: span 2;
}

/* --- Media Queries --- */

/* --- Mobile --- */

@media only screen and (max-width: 300px) {
  /* --- Calculator itself --- */

  .calcu-latr {
    width: 280px;
    grid-template-columns: repeat(4, 64.25px);
  }

  /*--- Input Block ---*/

  input {
    height: 80px;
    width: 235.98px;
  }

  /*--- Buttons, including Clear and Delete ---*/

  button {
    width: 40px;
    height: 40px;
  }

  .equal,
  .clearall {
    margin: 5px;
    width: 105px;
    height: 40px;
    grid-column: span 2;
  }
}

/* --- Tablet / Large Mobile --- */

@media only screen and (max-width: 720px) {
  /* --- Calculator itself --- */

  .calcu-latr {
    width: 350px;
    grid-template-columns: repeat(4, 75px);
  }

  /*--- Input Block ---*/

  input {
    height: 100px;
    width: 296.98px;
  }

  /*--- Buttons, including Clear and Delete ---*/

  button {
    width: 65px;
    height: 40px;
  }

  .equal,
  .clearall {
    margin: 5px;
    width: 140px;
    height: 40px;
    grid-column: span 2;
  }
}
