/* --- General styles --- */

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: monospace;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to left, #ff80ff, #330033);
}

/* --- Calculator content --- */
/* --- Calculator itself --- */

.container-cal {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calcu-latr {
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(4, 75px);
  border: 4px black;
  border-radius: 15.5px;
  box-shadow: 3.5px 7px rgba(0, 0, 0, 0.7);
  background: linear-gradient(to left, #330033, #cc00cc);
}

/* --- Input Block --- */

input {
  grid-column: span 4;
  height: 80px;
  width: 298.98px;
  box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.7);
  border-radius: 12px;
  border: none;
  text-align: end;
  margin: 30px 0px 15px 0px;
  padding: 10px;
  font-size: 45px;
}

/* --- Buttons, including Clear and Delete --- */

button {
  box-shadow: 2.5px 5px rgba(0, 0, 0, 0.7);
  border-radius: 12px;
  border: none;
  margin: 5px;
  width: 69px;
  height: 40px;
}

button:hover {
  color: #cc00cc;
}

.equal,
.clearall {
  box-shadow: 2.5px 5px rgba(0, 0, 0, 0.7);
  border-radius: 12px;
  border: none;
  margin: 5px;
  width: 146px;
  height: 40px;
  grid-column: span 2;
}

/* --- Media Queries --- */

/* --- Mobile --- */

@media only screen and (max-width: 300px) {
  /* --- Calculator itself --- */

  .calcu-latr {
    padding: 2.25px;
    grid-template-columns: repeat(4, 70px);
  }

  /*--- Input Block ---*/

  input {
    height: 50%;
    width: 275px;
  }

  /*--- Buttons, including Clear and Delete ---*/

  button {
    width: 54px;
    height: 35px;
  }

  .equal,
  .clearall {
    margin: 5px;
    width: 123.25px;
    height: 35px;
    grid-column: span 2;
  }
}

@media only screen and (min-width: 320px) {
  /* --- Calculator itself --- */

  .calcu-latr {
    padding: 2.25px;
    grid-template-columns: repeat(4, 70px);
  }

  /*--- Input Block ---*/

  input {
    height: 50%;
    width: 275px;
  }

  /*--- Buttons, including Clear and Delete ---*/

  button {
    width: 54px;
    height: 35px;
  }

  .equal,
  .clearall {
    margin: 5px;
    width: 123.25px;
    height: 35px;
    grid-column: span 2;
  }
}

/* --- Tablet --- */

@media only screen and (min-width: 720px) {
  /* --- Calculator itself --- */

  .calcu-latr {
    width: 360px;
    grid-template-columns: repeat(4, 89px);
  }

  /*--- Input Block ---*/

  input {
    margin-left: 8.5px;
    height: 100px;
    width: 333px;
  }

  /*--- Buttons, including Clear and Delete ---*/

  button {
    margin-left: 8.5px;
    width: 65px;
    height: 42px;
  }

  .equal,
  .clearall {
    margin: 5px;
    margin-left: 8.5px;
    width: 155px;
    height: 42px;
    grid-column: span 2;
  }
}

/* --- Laptop (lg) --- */

@media only screen and (max-width: 1440px) {
  /* --- Calculator itself --- */

  .calcu-latr {
    width: 375px;
    grid-template-columns: repeat(4, 89px);
  }

  /*--- Input Block ---*/

  input {
    margin-left: 20px;
    height: 100px;
    width: 333px;
  }

  /*--- Buttons, including Clear and Delete ---*/

  button {
    margin-left: 20px;
    margin-bottom: 10px;
    width: 65px;
    height: 42px;
  }

  .equal,
  .clearall {
    margin: 5px;
    margin-left: 20px;
    width: 155px;
    height: 42px;
    grid-column: span 2;
  }

  .equal {
    margin-bottom: 10px;
  }
}
